* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: white;
  font-family: Arial, sans-serif;
  padding: 40px;
}

.stage {
  position: relative;
  width: 500px;
  height: 300px;
}

.box {
  background-color: hotpink;
  width: 200px;
  height: 100px;
  padding: 20px;
  border: 4px solid white;
}

.one {
  position: relative;
  left: 140px;
}

.two {
  position: absolute;
  top: 140px;
  left: 0;
}

.three {
  position: absolute;
  top: 70px;
  left: 70px;
}