body {
  background-color: #111;
  color: white;
  font-family: Arial, sans-serif;
  padding: 40px;
}

h1 {
  margin-bottom: 10px;
}

.container {
  position: relative;
  width: 600px;
  height: 400px;
}

.box {
  background-color: hotpink;
  width: 200px;
  height: 100px;
  padding: 20px;
  border: 4px solid white;
  position: absolute;
}

.box:nth-child(1) {
  top: 40px;
  left: 120px;
}

.box:nth-child(2) {
  top: 120px;
  left: 0px;
}

.box:nth-child(3) {
  top: 0px;
  left: 260px;
}
