body {
  background-color: black;
  color: white;
  font-family: Georgia, serif;
  margin: 60px;
}

h1 {
  color: hotpink;
  letter-spacing: 4px;
  text-transform: uppercase;
}

p {
  max-width: 500px;
  line-height: 1.8;
  font-style: italic;
}

img {
  margin-top: 20px;
  border: 5px dashed hotpink;
}

ul {
  margin-top: 25px;
}

a {
  color: cyan;
}
