body {
  background-color: black;
  color: white;
  font-family: Georgia, serif;
  margin: 80px;
}

h1 {
  color: hotpink;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-size: 44px;
  margin-bottom: 10px;
}

p {
  max-width: 600
