body {
  background-color: black;
  color: white;
  font-family: Georgia, serif;
  margin: 80px;
}

h1 {
  color: hotpink;
  letter-spacing: 6px;
  text-transform: uppercase;
}

p {
  max-width: 600px;
  line-height: 1.8;
  font-style: italic;
}

img {
  display: block;
  margin-top: 30px;
  border: 5px dashed hotpink;
}

ul {
  margin-top: 30px;
  font-style: italic;
}

a {
  color: cyan;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
