body {
    background-color: #f2f2f2;
    font-family: Helvetica, Arial, sans-serif;
    margin: 40px;
}

h1 {
    color: #222;
    letter-spacing: 2px;
}

p {
    max-width: 500px;
    line-height: 1.5;
}

img {
    margin-top: 20px;
    border: 3px solid black;
}

ul {
    margin-top: 20px;
}
